/* custom.css */

/* Change the color of the lower part of the sidebar */
.wy-side-nav-search {
    background-color: #489e9a; /* ARISE Green */
}

/* Ensure the logo's background matches the sidebar */
img.logo {
    background-color: transparent;
}

/* Import the Exo 2 font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

/* Apply the Exo 2 font to all text */
body, h1, h2, h3, h4, h5, h6, p, span, li, td, th, a {
    font-family: 'Exo 2', sans-serif;
}

/* Change the color of header fonts to dark purple */
h1, h2, h3, h4, h5, h6 {
    color: #502878; /* ARISE purple */
}

/* Center mermaid diagrams */
.mermaid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Change the background color of the sidebar menu */
.wy-nav-side {
    background-color: #502878; /* ARISE purple */
}

.wy-menu {
    background-color: #502878; /* ARISE purple */
}


/* General styling for all admonitions */
.admonition {
    border: 2px solid #502878; /* ARISE purple */
    padding: 10px;
    margin-bottom: 20px;
}

/* Styling for specific admonition types (e.g., note, warning, etc.) */
.admonition.note {
    border-color: #2196F3; /* Blue border for 'note' */
    background-color: #E3F2FD; /* Light blue background for 'note' */
}

.admonition.warning {
    border-color: #FF9800; /* Orange border for 'warning' */
    background-color: #FFF3E0; /* Light orange background for 'warning' */
}

/* Customize the title of the admonition */
.admonition .admonition-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #333; /* Darker color for readability */
    margin-bottom: 8px;
}

/* Specific title styling for certain admonition types */
.admonition.note .admonition-title {
    color: #502878; /* ARISE purple */
}

.admonition.warning .admonition-title {
    color: #E65100; /* Orange title for 'warning' */
}
