doc8
docutils
furo
setuptools
sphinx
sphinx_design
sphinx_rtd_theme
sphinx-copybutton
sphinx-notfound-page
sphinx-sitemap
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-imagehelper
sphinxcontrib-mermaid
sphinxcontrib-plantuml
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib.spelling
vcstool
xmlschema
